@font-face {
    font-family: AmazStalker;
    src: url(/fonts/AmazStalker.ttf);
}

@font-face {
    font-family: Damaged;
    src: url(/fonts/Damaged.ttf);
}

@font-face {
    font-family: Graffiti;
    src: url(/fonts/Graffiti.otf);
}


html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, a, img {
    color: white;
}

.damaged {
    font-family: "Damaged";
	letter-spacing: 0.1em;
}

.stalker {
    font-family: "AmazStalker";
	letter-spacing: 0.1em;
}

.graffiti {
    font-family: "Graffiti";
}